
{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% set stickyNavigation = theme_config('Sticky-Navigation-Desktop') %}
{% set navigationOnScroll = theme_config('Navigation-On-Scroll-Desktop') %}


        {% block base_header %}
            <script>
                var navigationOnScroll = {{ navigationOnScroll|default('false') }};
                var stickyNavigation = {{ stickyNavigation|default('false') }};
            </script>
            <header class="header-main {% if (stickyNavigation or navigationOnScroll) %}sticky-header{% endif %}">
                {% block base_header_inner %}
                    <div class="container">
                        {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
                    </div>
                {% endblock %}
            </header>
        {% endblock %}

        {% block base_navigation %}
            <div class="nav-main {% if (stickyNavigation or navigationOnScroll) %}sticky-header{% endif %}">
                {% block base_navigation_inner %}
                    {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
                {% endblock %}
            </div>
        {% endblock %}
