@import 'C:/Users/LucaH/FWPMShopware/app/storefront/src/scss/skin/shopware/page/product-detail/_product-detail.scss';


@import 'product-detail';

.product-detail-gallery {
  // Überschreiben Sie die Galerie-Anordnung
  .gallery-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .gallery-slider-item {
      width: calc(33.333% - 10px); // 10px Abstand zwischen den Bildern
      margin-bottom: 10px; // Vertikaler Abstand zwischen den Bildern
    }
  }
}
