/*
Product box
==============================================
Styling for productbox component.
*/

.product-box {
    border-color: $border-color-product-box;
    background-color: $white;
    border-radius: $border-radius-product-box;

    .card-body {
        padding: $padding-product-box;
    }

    img {
        border-top-left-radius: $border-radius-product-box;
        border-top-right-radius: $border-radius-product-box;
    }
}

.product-name {
    font-weight: $font-weight-semibold;
}

.product-price {
    color: $price-color;
}
