/*
Main navigation
==============================================
Custom styling for main navigation on larger screens.

Based on bootstrap nav:
https://getbootstrap.com/docs/5.2/components/navs-tabs
*/

.main-navigation {
    display: none;
}

@include media-breakpoint-up(lg) {
    .main-navigation {
        display: inherit;
    }

    div.nav-main {
        top: -$LFL-height-header;
    }

    .nav-main, .nav-main.sticky-header.header-hidden {
        position: -webkit-sticky;
        position: sticky;
        z-index: 998; 
        top: 0;
        transition: 0.3s  ease-in-out;
        background-color: $LFL-background-color-header;
    }

    .nav-main.sticky-header {
        top: $LFL-height-header;
        border-bottom: 1px solid #000000;
        background-color: $LFL-background-color-header;
        transition: 0.3s  ease-in-out;
    }
}
