.product-detail-configurator-group {
    margin-bottom: $spacer-md;
}

.product-detail-configurator-group-title {
    font-weight: $font-weight-bold;
    margin-bottom: $spacer-sm;
}

.product-detail-configurator-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.product-detail-configurator-option {
    display: inline-flex;
    margin-right: $spacer-sm;
}

.product-detail-configurator-option-input {
    display: none;
/**
    + .product-detail-configurator-option-label {
        align-items: center;
        cursor: pointer;
        border: 1px solid $dark;
        border-radius: $border-radius;
        box-shadow: inset 3px 3px 0 $white, inset -3px -3px 0 $white;
        background-color: $white;
        display: inline-flex;
        justify-content: center;
        height: 60px;
        min-width: 60px;
        opacity: 0.35;
        padding: 3px;
        margin-bottom: $spacer-sm;
        transition: border-color 0.45s cubic-bezier(0.3, 0, 0.15, 1), background-color 0.45s cubic-bezier(0.3, 0, 0.15, 1);

        &.is-display-text {
            box-shadow: none;
            height: auto;
            padding: 5px 10px;
        }
    }

 **/   
    // eigene Klasse f체r Runde Buttons
    + .product-detail-configurator-option-label {
        align-items: center;
        cursor: pointer;
        border: 1px solid $dark;
        border-radius: 50%;
        box-shadow: inset 3px 3px 0 $white, inset -3px -3px 0 $white;
        background-color: $white;
        display: inline-flex;
        justify-content: center;
        height: 60px;
        min-width: 60px;
        opacity: 0.35;
        padding: 3px;
        margin-bottom: $spacer-sm;
        transition: border-color 0.45s cubic-bezier(0.3, 0, 0.15, 1), background-color 0.45s cubic-bezier(0.3, 0, 0.15, 1);

        &.is-display-text {
            box-shadow: none;
            padding: 5px 10px;
        }
    }

/**
    &.is-combinable + .product-detail-configurator-option-label {
        opacity: 1;
        border: 1px solid $border-color;
    }
**/

    // eigene Klasse keine Border f체r nicht ausgew채hlte
    &.is-combinable + .product-detail-configurator-option-label{
        opacity: 1;
        border: none;
    }

/**
    &:checked + .product-detail-configurator-option-label {
        border: 1px solid $primary;

        &.is-display-text {
            background-color: $primary;
            color: $white;
        }
    }
**/

    // keine Border f체r checked
    &:checked + .product-detail-configurator-option-label {
        border: none;
        transform: scale(1,1.3); 
        // Groessen nur Buchstaben in schwarz
        &.is-display-text {
            background-color: #fff;
            color: #000;
        }
    }
/**
   &.is-combinable + .product-detail-configurator-option-label,
    + .product-detail-configurator-option-label {
        &:hover,
        &:active,
        &:focus {
            border: 1px solid $primary;
        }
    }
**/ 

    // Zoom auf Hover
    &.is-combinable + .product-detail-configurator-option-label,
    + .product-detail-configurator-option-label {
        &:hover,
        &:active,
        &:focus {
            border: none;
            transform: scale(1,1.3); 
        }
    }
}

.product-detail-configurator-option-image {
    height: 100%;
}
