{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}
{% block layout_header_logo_inner %}
{% set activePathId = page.header.navigation.active.id %}
{% set activeNavigationId = page.navigationId %}


    <div class="header-logo-main">
        {% block layout_header_logo_link %}
            <a class="header-logo-main-link"
            {% if activePathId == "018cef9625ca795babed2915f9e73dbe" && activeNavigationId != "018cef9625ca795babed2915f9e73dbe" %}
                href="/Herren/"
            {% elseif activePathId == "018cef9632e37c41a2b53240dd5d69b1" && activeNavigationId != "018cef9632e37c41a2b53240dd5d69b1" %}
                href="/Damen/"
            {% else %}
                href="{{ path('frontend.home.page') }}"
            {% endif %}

               title="{{ "header.logoLink"|trans|striptags }}">
                {% block layout_header_logo_image %}
                    {{ parent() }}
                {% endblock %}
            </a>
        {% endblock %}
    </div>
{% endblock %}
