/*
Theme variables
==================================================
Contains custom non bootstrap variables.
*/

//=====> Assets <=====//
//$lfl-asset-path: '/bundles/fwpmlfltheme/storefront/assets';//

//======> Typography <====== //

@font-face {
    font-family: 'haboronorm_regular';
    font-weight: normal;
    font-display: swap;
    font-style: normal;
    src: url('/bundles/fwpmlfltheme/font/haboro/haboronormregular-webfont.woff2') format('woff2'),
         url('/bundles/fwpmlfltheme/font/haboro/haboronormregular-webfont.woff') format('woff');
}


* {
    font-family: 'haboronorm_regular', sans-serif;
}